# Milestone 2 - Inference

---

Name : Niko Amrullah Hakam

Batch : FTDS - RMT - 038

---

# i. Libraries

In [1]:
import pickle
import pandas as pd

# ii. Load Model

In [2]:
# Load the saved model
model_filename = "best_model_milestone2.pkl"
with open(model_filename, 'rb') as file:
    loaded_model = pickle.load(file)

In [3]:
import pandas as pd

# Define the data without the blueWins column
data_infer = {
    'gameId': [4519157822, 66931235, 1234567890, 9876543210],
    'blueWardsPlaced': [28, 22, 30, 25],
    'blueWardsDestroyed': [2, 7, 3, 6],
    'blueFirstBlood': [1, 1, 0, 1],
    'blueKills': [9, 9, 8, 7],
    'blueDeaths': [6, 4, 5, 6],
    'blueAssists': [11, 10, 9, 10],
    'blueEliteMonsters': [0, 1, 0, 1],
    'blueDragons': [0, 1, 0, 1],
    'blueHeralds': [0, 0, 1, 0],
    'blueTowersDestroyed': [0, 0, 1, 0],
    'blueTotalGold': [17210, 18132, 17500, 18000],
    'blueAvgLevel': [6.6, 7.0, 6.8, 6.7],
    'blueTotalExperience': [17039, 18076, 17500, 17800],
    'blueTotalMinionsKilled': [195, 228, 200, 210],
    'blueTotalJungleMinionsKilled': [36, 40, 38, 39],
    'blueGoldDiff': [643, 2883, 700, 800],
    'blueExperienceDiff': [-8, 2111, 200, 300],
    'blueCSPerMin': [19.5, 22.8, 20.5, 21.0],
    'blueGoldPerMin': [1721.0, 1813.2, 1740.0, 1790.0],
    'redWardsPlaced': [15, 21, 20, 22],
    'redWardsDestroyed': [6, 4, 5, 6],
    'redFirstBlood': [0, 0, 1, 0],
    'redKills': [6, 4, 7, 5],
    'redDeaths': [9, 9, 8, 7],
    'redAssists': [8, 2, 7, 3],
    'redEliteMonsters': [0, 0, 1, 0],
    'redDragons': [0, 0, 1, 0],
    'redHeralds': [0, 0, 1, 0],
    'redTowersDestroyed': [0, 0, 1, 0],
    'redTotalGold': [16567, 15249, 17000, 16000],
    'redAvgLevel': [6.8, 6.2, 6.5, 6.3],
    'redTotalExperience': [17047, 15965, 17500, 16000],
    'redTotalMinionsKilled': [197, 227, 210, 205],
    'redTotalJungleMinionsKilled': [55, 36, 45, 50],
    'redGoldDiff': [-643, -2883, -700, -800],
    'redExperienceDiff': [8, -2111, -200, -300],
    'redCSPerMin': [19.7, 22.7, 21.5, 21.0],
    'redGoldPerMin': [1656.7, 1524.9, 1700.0, 1600.0]
}

In [4]:
# make date dummy to infer

df_infer = pd.DataFrame(data_infer)

In [5]:
df_infer

,gameId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,4519157822,28,2,1,9,6,11,0,0,0,...,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,66931235,22,7,1,9,4,10,1,1,0,...,0,15249,6.2,15965,227,36,-2883,-2111,22.7,1524.9
2,1234567890,30,3,0,8,5,9,0,0,1,...,1,17000,6.5,17500,210,45,-700,-200,21.5,1700.0
3,9876543210,25,6,1,7,6,10,1,1,0,...,0,16000,6.3,16000,205,50,-800,-300,21.0,1600.0

In [6]:
make_prediction = loaded_model.predict(df_infer)

In [7]:
make_prediction

array([1, 1, 0, 1], dtype=int64)

In [8]:
df_infer['blueWins'] = make_prediction

In [9]:
df_infer

,gameId,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,...,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin,blueWins
0,4519157822,28,2,1,9,6,11,0,0,0,...,16567,6.8,17047,197,55,-643,8,19.7,1656.7,1
1,66931235,22,7,1,9,4,10,1,1,0,...,15249,6.2,15965,227,36,-2883,-2111,22.7,1524.9,1
2,1234567890,30,3,0,8,5,9,0,0,1,...,17000,6.5,17500,210,45,-700,-200,21.5,1700.0,0
3,9876543210,25,6,1,7,6,10,1,1,0,...,16000,6.3,16000,205,50,-800,-300,21.0,1600.0,1

In [10]:
cols = df_infer.columns.tolist()
cols.insert(cols.index('gameId') + 1, cols.pop(cols.index('blueWins')))

# order them back
df_infer = df_infer[cols]

In [11]:
df_infer

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,4519157822,1,28,2,1,9,6,11,0,0,...,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,66931235,1,22,7,1,9,4,10,1,1,...,0,15249,6.2,15965,227,36,-2883,-2111,22.7,1524.9
2,1234567890,0,30,3,0,8,5,9,0,0,...,1,17000,6.5,17500,210,45,-700,-200,21.5,1700.0
3,9876543210,1,25,6,1,7,6,10,1,1,...,0,16000,6.3,16000,205,50,-800,-300,21.0,1600.0